/*Carlos Henrique Andrade - BSN 27*/

@font-face{
    font-family: fonte;
    src: url(data.ttf);
}

*{
    margin-bottom: 3px;
    margin-top: 3px;
    font-size: 25px;
    font-family: fonte;
    width: 100%;
}


header,nav,footer{background-color: lightblue;}

#one{background-color:red;}
#two{background-color:blue;}
#three{background-color:yellow;}
#four{background-color:purple;}


@media(min-width:768px){


    #one,#three{
        float:left;
        width:50%;
    }

    #two,#four{
        float:right;
        width:50%;
    }
}

@media(min-width:1024px){
    #one,#two,#three,#four{
        width:25%;
        float:left;
    }

}
